<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: head}"></head>
<body>

<div th:replace="~{fragments/menu-left :: menu}"></div>
<div th:replace="~{fragments/top-content :: top-content}"></div>

        <h1>Edit user</h1>
        <div class="action-bar">

        </div>
    <form th:action="@{/users/update}" th:object="${user}" method="post">
        <input id="id" class="form-control" type="hidden" th:field="*{id}" />
        <div class="form-group mb-3">
            <label for="username">Username</label>
            <input id="username" class="form-control" type="text"
                   th:field="*{username}" placeholder="What is the username?" required readonly />
        </div>


            <input id="password" class="form-control" type="hidden"
                   th:field="*{password}" placeholder="What is the password?" required readonly />


        <div class="form-group mb-3">
            <label for="enabled">Enabled</label>
            <select id="enabled" class="form-control" th:field="*{enabled}" required>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Roles</label>
            <div th:each="role : ${roles}" class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       th:id="'role_' + ${role.id}"
                       th:value="${role.id}"
                       th:field="*{roles}" />

                <label class="form-check-label"
                       th:for="'role_' + ${role.id}"
                       th:text="${role.name.replace('ROLE_', '')}">
                </label>
            </div>
        </div>
        <input type="submit" class="btn btn-info" value="Save User">
    </form>




<th:block th:insert="fragments/bottom-content :: close-divs"></th:block>

