<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>

<div th:replace="~{fragments/menu-left :: menu}"></div>
<div th:replace="~{fragments/top-content :: top-content}"></div>

        <h1>List of Users</h1>
        <div class="action-bar">
            <a th:href="@{/users/add}" class="btn btn-primary">Add User</a>
        </div>
        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Enabled</th>
                <th>Roles</th>
                <th th:width="150px"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.enabled.toString() == 'true' ? 'Yes' : 'No'}"></td>
                <td>
                    <span th:each="role : ${user.roles}">
                        <span th:text="${role.name}" class="badge bg-primary"></span>
                    </span>
                </td>
                <td>
                    <a th:href="@{'/users/edit/' + ${user.id}}" class="btn btn-sm btn-outline-primary">Edit</a>
                    <form th:action="@{/users/{id}/delete(id=${user.id})}" method="post">
                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>


<th:block th:insert="fragments/bottom-content :: close-divs"></th:block>

