<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: head}"></head>
<body>

<div th:replace="~{fragments/menu-left :: menu}"></div>
<div th:replace="~{fragments/top-content :: top-content}"></div>

    <h1>Liedje toevoegen</h1>
    <div class="action-bar">

    </div>
    <form th:action="@{/songs/save}" th:object="${song}" method="POST">
        <div class="form-group mb-3 hide-this">
            <input type="hidden" th:field="*{id}" />
        </div>
        <div class="form-group mb-3">
            <label for="artist">Artiest</label>
            <input id="artist" class="form-control" type="text"
                   th:field="*{artist}" placeholder="Wie is de artiest" />
            <div class="text-danger">
                <span th:if="${#fields.hasErrors('artist')}"
                      th:errors="*{artist}"></span>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="song-name">Nummer</label>
            <input id="song-name" class="form-control" type="text"
                   th:field="*{songName}" placeholder="Wat is het nummer?" />
            <div class="text-danger">
                <span th:if="${#fields.hasErrors('songName')}"
                      th:errors="*{songName}"></span>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="preview-url">Voorbeeld url</label>
            <input id="preview-url" class="form-control" type="number" min="1"
                   th:field="*{trackId}" placeholder="Wat is het voorbeld url" />
            <div class="text-danger">
               <span th:if="${#fields.hasErrors('trackId')}"
                     th:errors="*{trackId}"></span>
            </div>
        </div>
        <input type="submit" class="btn btn-info" value="Liedje opslaan">
    </form>

<th:block th:insert="fragments/bottom-content :: close-divs"></th:block>

