<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>

<div th:replace="~{fragments/menu-left :: menu}"></div>
<div th:replace="~{fragments/top-content :: top-content}"></div>

        <h1>List of Songs</h1>
        <div class="action-bar">
            <a th:href="@{/songs/add}" class="btn btn-primary">Add Song</a>
        </div>
        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
            <tr>
                <th>Artist</th>
                <th>Songname</th>
                <th>Track id</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="song: ${songs}">
                <td th:text="${song.getArtist()}"></td>
                <td th:text="${song.getSongName()}"></td>
                <td th:text="${song.getTrackId()}"></td>
                <td>
                    <a th:href="@{'/songs/edit/' + ${song.id}}" class="btn btn-sm btn-outline-primary">Edit</a>
                    <form th:action="@{/songs/{id}/delete(id=${song.id})}" method="post">
                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>


<th:block th:insert="fragments/bottom-content :: close-divs"></th:block>

