<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: head}"></head>
<body>

<div th:replace="~{fragments/menu-left :: menu}"></div>
<div th:replace="~{fragments/top-content :: top-content}"></div>

    <h1>Add question</h1>
    <div class="action-bar">

    </div>
    <form th:action="@{/questions/save}" th:object="${form}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group mb-3">
            <label for="question">Question</label>
            <input id="question" class="form-control" type="text" th:field="*{question}" placeholder="What is the question" />
            <div class="text-danger"
                 th:if="${#fields.hasErrors('question')}"
                 th:errors="*{question}">
            </div>
        </div>

        <h4>Antwoord opties</h4>
        <div th:each="ans, stat : *{answers}">
            <input class="form-control" type="hidden"
                   th:field="*{answers[__${stat.index}__].id}"
                   placeholder="Antwoord optie">
            <div class="row mb-2">
                <div class="col-8">
                    <input class="form-control"
                           th:field="*{answers[__${stat.index}__].answer}"
                           placeholder="Antwoord optie">
                    <div class="text-danger"
                         th:errors="*{answers[__${stat.index}__].answer}">
                    </div>
                </div>
                <div class="col-4 d-flex align-items-center">
                    <div class="col-4 d-flex align-items-center">
                        <input type="radio"
                               th:field="*{correctAnswerIndex}"
                               th:value="${stat.index}" />
                        <span class="ms-2">Correct</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-danger"
             th:if="${#fields.hasErrors('answers')}"
             th:errors="*{answers}"></div>
        <div class="text-danger"
             th:if="${#fields.hasErrors('correctAnswerIndex')}"
             th:errors="*{correctAnswerIndex}"></div>

        <div class="form-group mb-3">
            <label for="song">Kies liedje</label>
            <select id="song" class="form-control" th:field="*{song.id}">
                <option value="">-- Kies een liedje --</option>
                <option th:each="s : ${songs}" th:value="${s.id}" th:text="${s.songName}"></option>
            </select>
            <div class="text-danger"
                 th:if="${#fields.hasErrors('songSelected')}"
                 th:errors="*{songSelected}">
            </div>
        </div>
        <input type="submit" class="btn btn-info" value="Save Question">
    </form>




<th:block th:insert="fragments/bottom-content :: close-divs"></th:block>

